<footer class="footer">
    <div class="footer__arrowUp"> 
      <a class="footer__button" href="./index.html#hero" alt="Icono flecha up" title="Go up!"> 
        <img class="footer__arrow" src="./assets/images/ico-arrow.svg" alt="up">
      </a>
    </div>
    
    <section class="footer__columns">
      <div class="footer__navs">
        <nav class="footer__menu">
          <ul>
            <li><a class="footer__link" href="https://adalab.es/" target="_blank">Articles</a></li>
            <li><a class="footer__link" href="https://adalab.es/" target="_blank">Books</a></li>
            <li><a class="footer__link" href="https://adalab.es/" target="_blank">Events</a></li>
            <li><a class="footer__link" href="https://adalab.es/" target="_blank">Reasons</a></li>
            <li><a class="footer__link" href="https://adalab.es/" target="_blank">Tips</a></li>
          </ul>
        </nav>

        <nav class="footer__menu">
          <ul>
            <li><a class="footer__link" href="https://adalab.es/" target="_blank">Twitter</a></li>
            <li><a class="footer__link" href="https://adalab.es/" target="_blank">Instagram</a></li>
            <li><a class="footer__link" href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
          </ul>
        </nav>
      </div>

      <div class="footer__copy">
        <span class="footer__text">&COPY; 2022</span>
        <span class="footer__text">we <span class="footer__heart">❤︎</span> components</span>
     </div>
    </section>
  </footer>