<!-- FOOTER -->

<footer class="footer">
    <div class="footer__arrowUp"> 
      <a class="footer__button" href="./index.html#header" alt="Icono flecha up" title="Go up!"> 
        <img class="footer__arrow" src="./assets/images/ico-arrow.svg" alt="up">
      </a>
    </div>
    
    <nav class="footer__menu">
      <ul>
        <li><a class="footer__link" href="https://adalab.es/" target="_blank">articles</a></li>
        <li><a class="footer__link" href="https://adalab.es/" target="_blank">books</a></li>
        <li><a class="footer__link" href="https://adalab.es/" target="_blank">events</a></li>
        <li><a class="footer__link" href="https://adalab.es/" target="_blank">reasons</a></li>
        <li><a class="footer__link" href="https://adalab.es/" target="_blank">tips</a></li>
      </ul>
    </nav>

    <nav class="footer__menu">
      <ul>
        <li><a class="footer__link" href="https://adalab.es/" target="_blank">twitter</a></li>
        <li><a class="footer__link" href="https://adalab.es/" target="_blank">instagram</a></li>
        <li><a class="footer__link" href="https://adalab.es/" target="_blank">mastodon.social</a></li>
      </ul>
    </nav>
    
    <div class="footer__copy">
      <span class="footer__text">&COPY; 2022</span>
      <span class="footer__text">we <span class="footer__heart">❤︎</span> components</span>
    </div>
  </footer>