<section class="reasons" id="reasons">
    <h2 class="reasons__title">3 reasons to purchase</h2>
    <article class="reasons__article">
      <h3 class="reasons__subtitle">Ut sed metus</h3>
      <p class="reasons__text">Lorem ipsum dolor sit amet, consectetur.</p>
    </article>

    <article class="reasons__article">
      <h3 class="reasons__subtitle">Murabitur ac erat</h3>
      <p class="reasons__text">Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="reasons__article">
      <h3 class="reasons__subtitle">Morbi dictum</h3>
      <p class="reasons__text">Aliquam in dolor et dolor tincidunt.</p>
    </article>

    <input class="reasons__button" type="button" value="More reasons" title="See more">
  </section>