//functions

// colors
$colorButton: #f26002;
$colorWhite: #ffffff;
$colorBackground1: #8ccbea;
$colorNavyBlue: #0271bc;
$colorBackgroundFooter: #304268;

// fonts
$mainFont: 'Roboto Slab', serif;
$secondFont: 'Roboto', sans-serif;