.offer{
    background-color: $colorButton;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__title{
        color: $colorLightBlue;
        font-size: 35px;
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    &__subtitle{
        color: $colorWhite;
        font-size: 40px;
        text-align: center;
        margin-right: 50px;
    }
    &__text{
        width: 420px;
        font-size: 15px;
        text-align: center;
    }
}

///////////////////////////////////

@media all and (max-width: 768px){
    .offer{
        display: none;
    }
}

@media all and (min-width: 768px){
    .offer{
       &__div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}


