
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

@import 'core/reset';
@import 'core/variables';

*{
    font-family: $mainFont;
}

.header {
    width: 100vw;
    height: 15px;
    position: fixed;

    &__link{
        background-color: $colorNavyBlue;
        padding: 10px;
    }
}

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    
    &__title{
        width: 12ch;
        color: $colorWhite;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 42px;
        text-align: center;
        
    }
    &__subtitle{
        color: $colorWhite;
        font-family: $secondFont;
        width: 300px;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    &__button{
        width: 40px;
        height: 40px;
        border-style: none;
        border-radius: 50%;
        margin-bottom: 30px;
        background-color: $colorWhite;
        
    }
    &--img{
        width: 16px;
        height: 9px;
    }
}

.tips{
    background-color: $colorWhite;
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    &__subtitle{
        font-family: $secondFont;
        font-size: 14px;
        text-transform: capitalize;
        color: $colorLightBlue;
        font-weight:normal;
        width: 290px;
        margin-bottom: 7px;
    }
    &__title{
        font-size: 24px;
        text-transform: capitalize;
        width: 290px;
        margin-bottom: 20px;
    }
    &__text{
        font-family: $secondFont;
        font-size: 18px;
        color: #4a4a4a;
        line-height: 1.67;
        width: 300px;
        margin-bottom: 30px;
    }
    &__button{
        background-color: $colorWhite;
        cursor: pointer;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
        width: 76px;
        border-radius: 25px;
        font-size: 20px;
        color: $colorButton;
        font-family: $secondFont;
        font-weight: bold;
        border: solid 3px $colorButton;
    }
}

.reasons{
    width: 100vw;
    background-color: $colorBackground;
    display: grid;
    height: 600px;

    &__title{
        font-size: 24px;
        text-transform: capitalize;
        text-align: center;
    }
    &__article1, &__article2, &__article3{
        font-size: 18px;
        text-align: center;
    }
    &__button{
        background-color: $colorButton;
        cursor: pointer;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
        width: 180px;
        border-radius: 25px;
        font-size: 20px;
        color: $colorWhite;
        font-family: $secondFont;
        font-weight: bold;
        border: solid 3px $colorWhite;
    }
}

.footer{
    background-color: $colorBackgroundFooter;
    color: $colorWhite;
    font-family: $secondFont;

    &__button{
        width: 200px;
        height: 200px;
        border-style: none;
        border-radius: 50%;
        background-color: $colorWhite;
    }


}